# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
vrep_matlab/inverse_kinematics.asv
*.asv
*.asv
*.asv
*.asv
scene/scene_project5_practice.ttt
vrep_matlab/T1.mat
vrep_matlab/fp_step1.m
vrep_matlab/fp_step2.m
vrep_matlab/fp_step3.m
vrep_matlab/fp_step4.m
scene/scene_project5_practice.ttt
scene/Final_project.ttt
